<section>
    <div class="container" style="padding-top: 200px;">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; heght: 23rem;">
                    <img style="width: 50px; height: 50px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIXHOERrwdI3BzQVM6nQM8utCcMuyztyeiug&usqp=CAU"
                        alt=""
                        style="height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text"> {{this.caregory}}</p>
                        <p class="card-text">{{this.desccription}}</p>
                        <a href="/addto-cart?id={{this._id}}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>